@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");
:root {
  --bg_color: rgb(221, 135, 64);
  --text_color: rgb(0, 5, 0);
  --second_color: rgb(100, 58, 48);
  --third_color: rgb(253, 130, 73);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: "smooth";
}
header {
  padding: 0 1%;
  background-color: var(--bg_color);
}
nav {
  display: flex;
  gap: 2rem;
  padding-top: 10px;
  justify-content: space-between;
  cursor: pointer;
}
ul {
  display: flex;
  gap: 20px;
  padding: 10px;
}
section,
footer {
  height: 100vh;
  background-color: var(--bg_color);
}
h1 {
  width: 90vw;
  font-weight: 900;
  font-size: 150px;
  text-align: center;
  font-stretch: expanded;
  padding: 40px 2%vw;
  margin: auto;
}
.brand {
  animation: move 5s ease-in-out infinite;
}
li {
  font-weight: 400;
}
a {
  color: var(--text_color);
}
a:hover {
  color: antiquewhite;
}
.skills {
  display: flex;
  font-weight: 700;
  font-size: 0;
  justify-content: space-around;
}
.skills span {
  font-size: 32px;
  display: inline-block;
  animation: move 5s ease-in-out infinite;
}
#about {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100% 100%;
}

.left {
  background-color: var(--second_color);
  height: 100%;
  overflow: hidden;
}
.left > img {
  viewport-fit: cover;
  width: 100%;
  max-height: 100%;
}
.right {
  min-height: 100%;
  background-color: var(--third_color);
  align-items: center;
  justify-items: center;
}
#about_info {
  padding: 50% 10px;
  font-weight: 700;
  font-size: 1.5em;
}
/* any animations goes here */
@keyframes move {
  0% {
    transform: translate(-30%, 0);
    color: var(--bg_color);
  }
  50% {
    text-shadow: 0 25px 50px #fefdfd;
    color: rgba(255, 255, 255, 0.512);
  }
  75% {
    text-shadow: 0 25px 50px #f5f0f0;
    color: white;
  }
  100% {
    transform: translate(30%, 0);
    color: var(--bg_color);
  }
}

.skills span:nth-child(0) {
  animation-delay: 0.5s;
}

.skills span:nth-child(1) {
  animation-delay: 1s;
}

.skills span:nth-child(2) {
  animation-delay: 1.5s;
}

.skills span:nth-child(3) {
  animation-delay: 2s;
}

.skills span:nth-child(5) {
  animation-delay: 2.5s;
}

.skills span:nth-child(6) {
  animation-delay: 3s;
}
